altair==5.4.1
altgraph==0.17.4
attrs==24.2.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.14.1
numpy @ file:///D:/bld/numpy_1724748780351/work/dist/numpy-2.0.2-cp39-cp39-win_amd64.whl#sha256=334c14ce8633236a51e51938005a9b798af35115c90203969c42602689076834
openpyxl @ file:///C:/b/abs_0e6ca21lac/croot/openpyxl_1721752965859/work
packaging==24.2
pandas @ file:///D:/bld/pandas_1726878526838/work
pefile==2023.2.7
pillow==11.0.0
protobuf==5.28.3
pyarrow==18.0.0
pydeck==0.9.1
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1731919281354/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32-ctypes==0.2.3
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
streamlit==1.40.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
urllib3==2.2.3
watchdog==6.0.0
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1723277104680/work
zipp==3.21.0
